body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ff00cc, #3333ff, #00ffee, #ff9900);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}